black==23.1.0
click==8.1.3
colorama==0.4.6
imageio==2.26.0
imageio-ffmpeg==0.4.8
lazy_loader==0.1
mypy-extensions==1.0.0
networkx==3.0
Nuitka==1.4.8
numpy==1.24.2
onnx==1.13.1
opencv-python==4.7.0.72
ordered-set==4.1.0
packaging==23.0
pathspec==0.11.0
Pillow==9.4.0
platformdirs==3.1.0
protobuf==3.20.3
PySide6==6.4.2
PySide6-Addons==6.4.2
PySide6-Essentials==6.4.2
PyWavelets==1.4.1
scikit-image==0.20.0
scipy==1.10.1
shiboken6==6.4.2
tifffile==2023.2.28
tomli==2.0.1
tqdm==4.65.0
typing_extensions==4.5.0
zstandard==0.20.0
